nav {
    font-family: 'DotGothic16', sans-serif;
}
#titleAbtMe{
    font-family: 'Architects Daughter', cursive;
    font-size:32px;
}
#titleEdu{
    font-family: 'Architects Daughter', cursive;
    font-size:32px;
}
#bdAbtMe{
   font-family: 'Fira Sans', sans-serif;
    font-size:22px;
}
#bdEdu{
   font-family: 'Fira Sans', sans-serif;
    font-size:22px;
}
#thanks{
    font-family: 'Courgette', cursive;
    font-size: 25px;
}
#titleHobby{
    font-family: 'Architects Daughter', cursive;
    font-size:32px;
}
#bdHobby{
   font-family: 'Fira Sans', sans-serif;
    font-size:22px;
}